# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Flask
instance/
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Environment variables
.env
